// Colors
// -----------------------------------------------------------------------------
// Change the color variables once at the top, or change elements individually
// below. Colors are typically Hex values, or one of 140 standard color names/

$black: #000000;
$off-black: #333333;
$gray: #CCCCCC;
$white: #ffffff;
$off-white: #EEF2F3;
$red: #CF4747;
$blue: #6A8EB8;
$light-yellow: #F9F9A3;
$off-black-semi-transparent: rgba(0, 0, 0, .5);
$black-semi-transparent: rgba(0, 0, 0, 0.75);
$rich-black: cmyk(50%, 50%, 50%, 100%);


//light
$light-apricot : #a6680c;
$light-blue :#3271cf;
$light-fuchsia : #d83570;
$light-lilac :#7565d2;
$light-lime: #34850f;
$light-pink : #c422dd;
$light-rose: #e91616;
$light-teal :#128282;

//dark
$dark-apricot : #f3a736;
$dark-blue :#79aefe;
$dark-fuchsia : #ed4a85;
$dark-lilac :#a090fd;
$dark-lime: #79ce51;
$dark-pink : #e498f0;
$dark-rose: #fd746a;
$dark-teal :#1ed2b2;
